@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}

html{
  overflow-x: hidden;
}

.openNav{
  top: -9999px;
}

.closeNav{
  top: 0;
}

@media (min-width: 768px) {
  .openNav{
    top: 0px;
  }
  
}

.hero-container{
  background: rgb(37,37,37);
  background: linear-gradient(90deg, rgba(37,37,37,1) 0%, rgba(58,111,4,1) 100%);
}